# Configuración de Base de Datos
MONGODB_URI=mongodb://localhost:27017/mobile-banking
MONGODB_TEST_URI=mongodb://localhost:27017/mobile-banking-test

# JWT Configuration
JWT_SECRET=tu_jwt_secret_muy_seguro_aqui_cambiar_en_produccion
JWT_EXPIRES_IN=24h

# AWS Configuration
AWS_REGION=us-east-1

# Development
NODE_ENV=development
DEBUG=mobile-banking:*
PORT=3001
